<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/appcostal?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="appcostal/model/Paso.hbm.xml"/>
    <mapping resource="appcostal/model/Trabajadera.hbm.xml"/>
    <mapping resource="appcostal/model/Relevo.hbm.xml"/>
    <mapping resource="appcostal/model/Recorrido.hbm.xml"/>
    <mapping resource="appcostal/model/Iguala.hbm.xml"/>
    <mapping resource="appcostal/model/Hermano.hbm.xml"/>
    <mapping resource="appcostal/model/Hermandad.hbm.xml"/>
    <mapping resource="appcostal/model/Marcha.hbm.xml"/>
    <mapping resource="appcostal/model/Procesion.hbm.xml"/>
    <mapping resource="appcostal/model/Evento.hbm.xml"/>
    <mapping resource="appcostal/model/Posicion.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
