#page {
    margin:0px auto;
    width:100%;
}

#header{
    position: fixed;
    top:0;
    width:100%;
    height:auto;
    background-color:#333;
    color:#FFFFFF;
}
#content{
    padding:30px;
    width:800px;
}
input[type="submit"] {
    margin: 0px;

}

span {
    position: relative;
    padding: 0px;
}
.eliminar{
    content: "\f004";
}
.box {
    float: left;
    width: auto;
    height: auto;
}
.after-box {
    clear: left;
}
.usuario{
    float: right;
    margin: 5px;
    color:#333;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 25px;
    background-color: #FFFFFF;
    text-shadow: 1px 1px #333;
    text-transform: capitalize;
}
.contenedor-usuario{
    margin: 4% 4% 1% 4%; border: 2px solid gray;
}
.caja-usuario{
    border: 2px solid black; width: 300px; height: 100px;
    border-radius: 10px;
    box-shadow: 0px 5px 1px #333;
}